@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    margin: 0;
}

.controls-container {
    display: flex;
    justify-content: center;
}

.controls {
    margin: 2em;
    max-width: 35rem;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    padding: 1em;
    display: flex;
}

.title {
    text-decoration: underline;
    font-weight: bold;
}

.categories-title {
    border-right: 2px solid black;
}

.categories {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5%;
}

.category {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
}

.active {
    text-decoration: underline;
    font-weight: normal;
}

.category:hover {
    text-decoration: underline;
    cursor: pointer;
}

.square {
    height: 15px;
    width: 15px;
    border-radius: 4px;
    margin-right: 0.25em;
}

.help {
    display: flex;
    align-items: center;
}

#help-tooltip {
    position: relative;
    cursor: pointer;
    margin-left: 0.5em;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: small;
    padding-bottom: 0.05em;
}

#help-tooltip:hover:after {
    content: attr(data-text);
    cursor: pointer;
    background-color: white;
    position: absolute;
    top: -5%;
    left: 100%;
    margin-left: 0.5em;
    width: 10em;
    z-index: 10;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5em;
    font-size: small;
}

.toggle-title {
    text-align: left;
    margin-left: 1em;
}

.option:hover {
    text-decoration: underline;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
}

main img {
    width: 50%;
    margin-bottom: 2em;

}

footer {
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
}

footer img {
    width: 4em;
    margin-right: 2em;
}

.authors {
    margin: 1em 2em;
}

.authors p {
    line-height: 50%;
}

